.active {
    color: black;
}

a:hover.links{
    color: black;
    background-color: transparent;
}

button:hover.links{
    color: black;
    background-color: transparent;
}

/** unvisited link *!*/
a:link {
    color: black;
    text-underline: none;
}

/* visited link */
a:visited {
    color: black;
    text-underline: none;
}

/* mouse over link */
a:hover {
    color: black;
    background-color: transparent;
}

/* selected link */
/*a:active {*/
/*    color: black;*/
/*}*/

a:link, a:visited, a:hover, a:active {
    text-underline: none;
    text-decoration: none;
}

.nav_links:hover{
    color: black;
}

.links{
    color: black;

}

li .active {
    border-left: black solid 1px;
}